# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.venv/
bjj-env/
# Ignore environment files
.env*

# Env & secrets
.env
*.pem
.env.prod
.env.dev

# Databases
*.sqlite3
db.sqlite3

# Django static/media
/staticfiles/
/media/
/static/


# Ignore Django static files
jiujitsuteria/static/
# Django collected static files
/staticfiles/
jiujitsuteria/staticfiles/

# Ignore test scripts
test_cf_key.py
/scripts/


# Logs & caches
*.log
*.pot
.DS_Store

# IDEs
.vscode/

# Requirements (only keep tracked ones)
!requirements.txt
!requirements.lock
